.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $sub-font-color;
    color: $main-background-color;
}

.footer_container {
    display: flex;
    align-items: baseline;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer_title {
    display: block;
    margin-bottom: 20px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    color: $main-background-color;
}

.footer_input {
    padding-left: 16px;
    width: 358px;
    height: 50px;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    background-color: $sub-font-color;
    
    &::placeholder {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.03rem;

        color: rgba(255, 255, 255, 0.6);
    }
}



.footer_request {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-left: 12px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06rem;

    color: $main-background-color;
    background-color: $main-blue;
}

.footer_icon {
    margin-left: 10px;
    cursor: pointer;
    fill: $main-background-color;
}

.address {
    flex-grow: 1;
    margin-right: 70px;
}

.address_logo {
    padding-left: 0;

    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: calc(3*(1em/50)/2);
    color: $main-background-color;
}

.address_accent {
    color: $main-blue;
}

.address_list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.address_item:not(:last-child) {
    margin-bottom: 9px;
}

.address_contacts {
    margin-top: 20px;
}

.address_link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: calc(3*(1em/50)/2);

    transition: color 250ms $timing-function;
    &--white {
        color: inherit;
    }
    
    &:hover {
        color: $main-blue;
    }
    
    &:focus {
        color: $main-blue;
    }
}



.social {
    margin-right: 93px;
}

.social_text {
    margin-bottom: 20px;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $main-background-color;
}

.social_list {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;

    list-style: none;
}

.social_link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms $timing-function;
    &:hover,
    &:focus {
        background-color: $main-blue;
    }
}



.social_item:not(:last-child) {
    margin-right: 10px;
}

.social_icon {
    width: 20px;
    height: 20px;

    fill: $main-background-color;
}