.section__title--visually-hidden {
    @include visually-hidden;
}

.peculiarity_list {
    @extend %list;
}

.peculiarity_item {
    width: 25%;

    &:not(:last-child) {
        margin-right: 30px;
    }
}


.peculiarity_img {
    margin-bottom: 30px;
    margin-right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 270px;
    height: 120px;
    border-radius: 4px;

    background-color: $secondary-background-color;
}

.peculiarity_icon {
    display: block;
    width: 70px;
    height: 70px;
}

.peculiarity_title {
    margin-bottom: 10px;

    @include text(14px, 700, 1.14, 0.03em);
    text-transform: uppercase;
}

.peculiarity_text {
    color: $secondary-font-color;
    @include text(14px, 400, 1.78, 0.03em);
}