@mixin logo($color) {
    padding-left: 0;
    color: $color;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    @include text(26px, 700, 1.19, 00.03em);

    &--accent {
        color: $main-blue;
    }
}